<o-form show-header="no" (submit)="searchPrivate()">
    <o-column fxFlex title="{{ 'SEARCH_PRIVATE_LEAGUE' | oTranslate }}">
        <o-row fxfill fxLayoutAlign="center">
            <o-text-input #privateComp type="text" label="{{'INSERT_CODE' | oTranslate}}"> </o-text-input>
        </o-row>
        <o-row fxLayoutAlign="center">
            <o-button label="SEARCH" attr="raised4" type="RAISED" (click)="searchPrivate()" layout-padding
                color="primary"></o-button>
        </o-row>
    </o-column>
</o-form>