<o-form show-header="no">
    <o-column fxFlex title="{{ 'SEARCH_PRIVATE_LEAGUE' | oTranslate }}">
        <o-row>
            <o-text-input #privateComp attr="privateComp" label="{{'INSERT_CODE' | oTranslate}}" fxFlex="99">
            </o-text-input>
        </o-row>
        <o-row>
            <o-button label="CANCEL" attr="raised4" type="RAISED" (click)="onNoClick()" layout-padding
                color="accent"></o-button>
            <o-button label="SEARCH" attr="raised4" type="RAISED" (click)="searchPrivate()" layout-padding
                color="primary"></o-button>
        </o-row>
    </o-column>
</o-form>