<div fxFill fxLayout="column" fxLayoutAlign="start">
    <o-table attr="allCompetitionsTable" service="competitions" entity="competition" keys="COMP_ID" key="COMP_ID"
        columns="COMP_ID;COMP_NAME;COMP_TYPE;COMP_DESCRIPTION" visible-columns="COMP_NAME;COMP_TYPE;COMP_DESCRIPTION"
        query-rows="5">
        <o-table-column attr="COMP_NAME" title="COMPETITION_NAME" width="100px"></o-table-column>
        <o-table-column attr="COMP_TYPE" title="COMPETITION_TYPE" width="100px"></o-table-column>
        <o-table-column attr="COMP_DESCRIPTION" title="DESCRIPTION" width="100px"></o-table-column>
    </o-table>
</div>