<o-form service="competitions" entity="competition" keys="COMP_ID" header-actions="R;I;U;D" show-header-navigation="no">
  <o-row>

    <o-column title-label="CUSTOMER_PERSONAL_INFORMATION" fxFlex>
      <o-row>
        <o-text-input class="input-padding" attr="COMPETITION_NAME" fxFlex="40" required="yes"></o-text-input>
      </o-row>
      <o-row>
        <o-combo attr="competition_type" label="COMPETITION_TYPE" data="Public" [static-data]="staticData"
          value-column="name" columns="id;name" visible-columns="name" read-only="no" required="yes"></o-combo>
      </o-row>
      <o-row>
        <o-textarea-input attr="DESCRIPTION" fxFlex></o-textarea-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>