<div class="hiddenTable" fxFill fxLayout="column" fxLayoutAlign="start">
  <o-table (onDataLoaded)="loadData($event)" title="cambiar titulo" show-title="false" attr="competitionsEditTable" service="competitions"
      entity="competitionById" keys="COMP_ID" key="COMP_ID" columns="COMP_ID;COMP_NAME;USER_;UC_AVAILABLE_MONEY;UC_POINTS"
      visible-columns="COMP_NAME;USER_;UC_AVAILABLE_MONEY;UC_POINTS" query-rows="15" horizontal-scroll="false" auto-adjust="true"
      virtual-scroll="no" insert-button="no" delete-button="no">
      
  </o-table>
</div>
