<div class="hiddenTable" fxFill fxLayout="column" fxLayoutAlign="start">
  <o-table (onDataLoaded)="loadData($event)" title="cambiar titulo" show-title="false" attr="competitionsEditTable" service="users_competitions"
      entity="selectedTeam" keys="COMP_ID" key="COMP_ID" columns="UC_ID;COMP_ID;TEAM_ID;TEAM_NAME;TEAM_PRICE"
      visible-columns="UC_ID;COMP_ID;TEAM_ID;TEAM_NAME;TEAM_PRICE" query-rows="15" horizontal-scroll="false" auto-adjust="true"
      virtual-scroll="no" insert-button="no" delete-button="no">
      
  </o-table>
</div>
