/* You can add global styles to this file, and also import other style files */
.biggerInput {
    text-align: center;
    font-size: 14pt;
}
.title {
    text-align: center;
}
.hideGraph{
    display: none;
}

/*Edit team section*/
#UC_AVAILABLE_MONEY{
    text-align: right;    
}
#COMP_NAME, #UC_AVAILABLE_MONEY{
    height: 1.5rem;
}
#edit_team_header{
    height: 110px;
}

tbody tr:nth-child(even) {
    background-color: #eee7e8;
}

tbody tr:nth-child(odd) {
    background-color:#edc5c5;
}

th {
    background-color: #da3930 !important; 
    color: white !important;
    color: #fff;
}

tr:hover {
    font-weight: bolder;
    background-color: #dfa197 !important; 
    color: white !important;
}

button.mat-raised-button:hover {
    color: #eee7e8;
    background-color: black;
    font-weight: bold;
}


/*New button response style*/
.o-button button{
    transform: scale(1);
    transition: transform 0.15s ease-in-out;
}
.o-button button:hover{
    transform: scale(1.04);
    
}
.o-button button:active{
    transform: scale(0.95);
}