/* You can add global styles to this file, and also import other style files */
.biggerInput {
    text-align: center;
    font-size: 14pt;
}
.title {
    text-align: center;
}
.hideGraph{
    display: none;
}

/*Edit team section*/
#UC_AVAILABLE_MONEY{
    text-align: right;    
}
#COMP_NAME, #UC_AVAILABLE_MONEY{
    height: 1.5rem;
}
#edit_team_header{
    height: 110px;
}