/* You can add global styles to this file, and also import other style files */
.biggerInput {
    text-align: center;
    font-size: 14pt;
}

.title {
    text-align: center;
}

.hideGraph {
    display: none;
}



/*Edit team section*/
#UC_AVAILABLE_MONEY {
    text-align: right;
}

.mat-form-field.icon-field .mat-form-field-suffix .svg-icon>svg {
    padding-top: 0rem;
    padding-bottom: 0.3rem;
}

#COMP_NAME,
#UC_AVAILABLE_MONEY {
    height: 1.5rem;
}

#edit_team_header {
    height: 110px;
}

tbody tr:nth-child(even) {
    background-color: #fff1f1;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

th {
    background-color: #da3930 !important;
    color: white !important;
    color: #fff;
}

tbody tr:hover {
    font-weight: bolder;
    background-color: #ffe3e3 !important;
    color: white !important;
}



// New row response style
tbody tr {
    transition: transform 0.1s;
    cursor: pointer;

    &:hover {
        td {
            @keyframes scaleUp {
                to {
                    transform: scale(1.13);
                }
            }

            animation: scaleUp 0.2s forwards;
        }
    }
}

button.mat-raised-button:hover {
    color: #eee7e8;
    background-color: black;
    font-weight: bold;
}



//New button response style
.o-button button {
    transform: scale(1);
    transition: transform 0.15s ease-out;
}

.o-button button:hover {
    transform: scale(1.05);

}

.o-button button:active {
    transform: scale(0.95);
}