<div fxFill fxLayout="column" fxLayoutAlign="start">

  <o-table title="COMP_ALL_TITLE" show-title="false" attr="allCompetitionsTable" service="competitions"
      entity="publicCountCompetition" keys="COMP_ID" key="COMP_ID"
      columns="COMP_ID;COMP_NAME;COMP_ISPUBLIC;COMP_DESCRIPTION;NUM_USERS;COMPLETE"
      visible-columns="COMP_NAME;COMP_DESCRIPTION;NUM_USERS" query-rows="10" insert-button="no" delete-button="no">
      <o-table-column attr="COMP_NAME" title="COMP_NAME" content-align="center"></o-table-column>
      <o-table-column attr="COMP_DESCRIPTION" title="COMP_DESCRIPTION" content-align="center"></o-table-column>
      <o-table-column attr="NUM_USERS" title="NUM_USERS" content-align="center"></o-table-column>
  </o-table>

</div>