<ng-template #templateref let-cellvalue="cellvalue" let-rowvalue="rowvalue">

    <span style="color: rgb(255, 115, 115); font-weight: bold;"
        *ngIf="rowvalue['PIL_PRICE'] > childService.moneyUser && (rowvalue['USER_'] != username || rowvalue['USER_'] == null) && rowvalue['USER_'] == null">
        {{"NOT_ENOUGH_MONEY" | oTranslate}}
    </span>

    <span *ngIf="rowvalue['USER_'] && rowvalue['USER_'] != username" style="color: rgb(255, 179, 39); font-weight: bold;"> 
        {{"PILOT_SELECTED_BY" | oTranslate}}
        {{rowvalue["USER_"]}}
    </span>

    <span class="already_2_drivers" style="color: rgb(94, 190, 253); font-weight: bold;"
        *ngIf="rowvalue['USER_'] == null && rowvalue['PIL_PRICE'] <= childService.moneyUser && childService.getPilotsUserCount() >= 2">
        {{"ALREADY_2_DRIVERS" | oTranslate}}
    </span>

    <span>
        <o-button
            *ngIf="rowvalue['USER_'] == null && rowvalue['PIL_PRICE'] <= childService.moneyUser && childService.getPilotsUserCount() < 2"
            class="buyButton" label="BUY_DRIVER" attr="raised4" type="RAISED" layout-padding color="primary"
            (click)="showBuyConfirm($event, rowvalue['PIL_ID'], rowvalue['PIL_PRICE'], rowvalue['UC_ID'])">
        </o-button>
    </span>

    <span>
        <o-button *ngIf="rowvalue['USER_'] == username" class="sellButton" label="SELL_DRIVER" attr="raised4" type="RAISED" layout-padding color="accent"
         (click)="showSellConfirm($event, rowvalue['UCP_ID'],rowvalue['PIL_ID'])">
        </o-button>
    </span>

</ng-template>