<o-form service="users_competitions" entity="userCompetition" keys="UC_ID" header-actions="R;U;D" show-header-navigation="no">
  <o-column title="{{ 'COMP_INFO' | oTranslate }}">
    <o-row>
      <o-text-input class="input-padding" attr="UC_ID" sql-type="STRING" enabled="no" fxFlex="15"
        required="yes"></o-text-input>
      <o-text-input attr="UC_ID" fxFlex="85" required="yes"></o-text-input>
    </o-row>
    <o-row>
      <o-text-input attr="COMP_ID" class="input-padding" step="0" grouping="no" fxFlex="15"></o-text-input>
      <o-date-input attr="USER_" class="input-padding" fxFlex="15"></o-date-input>
    </o-row>
  </o-column>
  <o-column title="{{ 'COMP_INFO' | oTranslate }}">
    <o-table fxFlex service="competitions" entity="competitionById" parent-keys="COMP_ID" columns="COMP_ID;COMP_NAME;USER_;P1NAME;P1SURNAME;P2NAME;P2SURNAME;TEAM_NAME;UC_AVAILABLE_MONEY;UC_POINTS"
      visible-columns="COMP_NAME;USER_;P1NAME;P1SURNAME;P2NAME;P2SURNAME;TEAM_NAME;UC_AVAILABLE_MONEY;UC_POINTS" insert-button="no" delete-button="no" query-rows="10">
      <o-table-column attr="COMP_NAME" title="COMP_NAME" class="o-table-column-centered"></o-table-column>
      <o-table-column attr="P1NAME" title="P1NAME" class="o-table-column-centered"></o-table-column>
      <o-table-column attr="P1SURNAME" title="P1SURNAME" class="o-table-column-centered"></o-table-column>
      <o-table-column attr="P2NAME" title="P2NAME" class="o-table-column-centered"></o-table-column>
      <o-table-column attr="P2SURNAME" title="P2SURNAME" class="o-table-column-centered"></o-table-column>
      <o-table-column attr="TEAM_NAME" title="TEAM_NAME" class="o-table-column-centered"></o-table-column>
      <o-table-column attr="UC_AVAILABLE_MONEY" title="UC_AVAILABLE_MONEY" class="o-table-column-centered"></o-table-column>
      <o-table-column attr="UC_POINTS" title="UC_POINTS" class="o-table-column-centered"></o-table-column>
    </o-table>
  </o-column>
</o-form>

